/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


a {
    text-decoration: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

html, body {
    margin:0;
    background: #fafafa;
}

body * {
    font-family: 'Pretendard';
    letter-spacing: -0.03em;
}

.visual-area {
    height:100vh;
    background:#000;
    padding:0;
    .txt-box {
        z-index: 2;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left:0;
        right:0;
        display: flex;
        flex-direction: column;
        p { font-size:20px; font-weight:300; color:#fff; letter-spacing: 0.4em; text-align: center; border-bottom:1px rgba(255,255,255,0.1) solid; margin:0; padding-bottom:30px; }
        h1 { font-family: 'Abril Fatface', serif; color:#fff; font-weight:300; opacity: 0.8; letter-spacing: 0; font-size:80px; text-align: center; line-height:1; margin:20px 0 40px;  }
        span { text-transform: uppercase; color:#fff; opacity: 0.5; font-size:16px; font-family: 'Montserrat', sans-serif; text-align: center; text-align: center; letter-spacing: 0.4rem; }
    }
    .bg-img {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .cover {
            position: absolute;
            bottom:20px;
            left:50%;
            white-space: nowrap;
            font-size:180px;
            opacity: 0.05;
            text-transform: uppercase;
            color:#fff;
            font-family: 'Montserrat', sans-serif;
            z-index:3;
            font-weight:800;
        }
        img {
            width:100%;
            height:100%;
            object-fit: cover;
            transform: scale(1.2);
        }
    }
    .wrapper {
        max-width:1440px;
        margin:0 auto;
        z-index:2;
        position: relative;
        height:100%;
        display: flex;
        align-items: center;
        gap:120px;
    }
}

.container {
    max-width:1440px;
    width:100%;
    margin:0 auto;
    box-sizing: border-box;
}

header {
    position: fixed;
    height:80px;
    box-sizing: border-box;
    top:0;
    padding-top:20px;
    left:0;
    right:0;
    z-index: 3;
    transition-duration: .3s;
    overflow: hidden;
    .logo-wrap {
        display: flex;
        align-items: flex-end;
        .logo-img {
            display: flex;
            align-items: center;
            position: relative;
            height:46px;
            line-height:0;
            .color {
                position: absolute;
                z-index: 2;
                opacity: 0;
                height:100%;
                top:1px;
            }
            .white {
                height:100%;
                line-height:0;
            }
        }
        span {
            line-height:1;
            color:#fff;
            padding-bottom:10px;
            padding-left:10px;
        }

    }
    .container {
        display: flex;
        align-items: center;
        max-width:100%;
        padding:0 80px;
    }
    .gnb {
        margin:0;
        display: flex;
        align-items: center;
        list-style-type: none;
        flex:1;
        justify-content: flex-end;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .main-item {
            font-family: 'Pretendard';
            display: flex;
            height:50px;
            align-items: center;
            justify-content: center;
            width:160px;
            font-size:16px;
            color:#fff;
            font-weight:700;
            transition-duration: .3s;
            cursor: pointer;
            &:hover,
            &:focus {
                color:#8a1e04;
                transition-duration: .3s;
            }
        }
        .sub-item {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap:10px;
            opacity:0;
            top:80px;
            transition-duration: .3s;
            transform: translateY(-20px);
            align-items: center;
            a {
                font-size:14px;
                text-align: center;
                font-weight:400;
                height:28px;
                color:#aaa;
                transition-duration: .3s;
                cursor: pointer;
                &:hover {
                    color:#111;
                    transition-duration: .3s;
                }
            }
        }
    }
    &.fixed {
        height:70px;
        padding-top:10px;
        background: #fafafa;
        transition-duration: .3s;
        border-bottom:1px rgba(0,0,0,0.1) solid;
        .logo-wrap {
            .logo-img {
                .color {
                    opacity: 1;
                }
                .white {
                    opacity: 0;
                }
            }
            span {
                color:#666;
                transition-duration: .3s;
            }

        }
        .gnb li .main-item {
            color:#111;
            &:hover,
            &:focus {
                color:#8a1e04;
                transition-duration: .3s;
            }
        }
        &:hover,
        &:focus,
        &:focus-within {
            transition-duration: .3s;
        }
    }
}
header:hover,
header:focus,
header:focus-within {
    background: #fafafa;
    height:240px;
    transition-duration: .3s;
    .container {
        align-items: flex-start;
        transition-duration: .3s;
    }
    .logo-wrap {
        .logo-img {
            .color {
                opacity: 1;
            }
            .white {
                opacity: 0;
            }
        }
        span {
            color:#666;
            transition-duration: .3s;
        }

    }
    .gnb {
        align-items: flex-start;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            .main-item {
                color: #111;
                &:hover {
                    color:#8a1e04;
                }
            }
        }
    }
    .gnb li .sub-item {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap:10px;
        opacity:1;
        transform: translateY(0px);
        transition-duration: .3s;
        align-items: center;
        a {
            color:#aaa;
        }
        a:hover {
            color:#111;
        }
    }
    .tools .lang {
        a {
            color:rgba(0,0,0,0.5);
        }
        a+a {
            border-left:1px rgba(0,0,0,0.2) solid;
        }
    }
}
header.sub {
    background: #fafafa;
    transition-duration: .3s;
    border-bottom:1px rgba(0,0,0,0.1) solid;
    .logo-wrap {
        .color {
            opacity: 1;
        }
        .white {
            opacity: 0;
        }
    }
    .gnb li .main-item {
        color:#111;
        &:hover,
        &:focus {
            color:#8a1e04;
            transition-duration: .3s;
        }
    }
    .tools .lang {
        a {
            color:rgba(0,0,0,0.5);
            &:hover,
            &.active {
                color:rgba(0,0,0,1);
                transition-duration: .3s;
            }}
        a+a {
            border-left:1px rgba(0,0,0,0.2) solid;
        }
    }
}
.sections-wrapper {
    position: relative;
}

section {
    padding:80px 0;
}

.slider-area {
    background:url("../img/bg-slider.jpg") no-repeat;
    padding:0;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .slider-wrapper {
        .slider-title {
            color:#fff;
            font-size:36px;
            font-weight:400;
            margin-bottom:60px;
            b {
                font-weight:700;
                display: block;
            }
        }
    }
    .swiper {
        width: 100%;
        box-sizing: border-box;
        padding-left:230px;
        .swiper-button-next {
            color:#fff;
            right:120px;
        }
        .swiper-button-prev {
            color:#fff;
            left:120px;
        }
        .swiper-pagination-bullet-active {
            background: #fff;
        }
    }
    .swiper-slide img {
        width:100%;
    }
}

.quick-area {
    height:80vh;
    padding:0;
    .quick-link {
        display: flex;
        align-items: stretch;
        height:100%;
        a {
            flex:1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            padding:0;
            position: relative;
            overflow: hidden;
            h4 {
                font-family: Montserrat, sans-serif;
                font-size:36px;
                text-transform: uppercase;
                font-weight:700;
                color:#fff;
                margin:0 60px 15px 0;
                position: relative;
                z-index: 2;

            }
            p {
                margin:0 60px 0 0;
                font-size:24px;
                color:#fff;
                position: relative;
                z-index: 2;
            }
            .bg {
                z-index: 0;
                position: absolute;
                transform: scale(1);
                width:100%;
                height:100%;
                object-fit: cover;
                transition-duration: .5s;
            }
            .cover {
                z-index: 1;
                position: absolute;
                width:100%;
                height:100%;
                object-fit: cover;
                transition-duration: .5s;
                background: #000;
                opacity: 0;
            }
            &:hover {
                .cover {
                    opacity: 0.3;
                    transition-duration: .5s;
                }
                .bg {
                    transition-duration: .5s;
                    transform: scale(1.1);
                }
            }
        }
    }
}

footer {
    padding:40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        color:#2d2323;
        font-weight:700;
        margin:0 0 10px;
    }
    span {
        font-family: Montserrat, sans-serif;
        font-size:14px;
        text-transform: uppercase;
        color:#333;
    }
}


/* sub layout common */

.title-area {
    padding-top:160px;
    position: relative;
    transition: all 0.6s ease;
    height: 100vh;
    box-sizing: border-box;
}
.title-area h5 {
    color:#8a1e04;
    font-size:18px;
    font-weight:700;
    margin:0 0 20px;
    line-height:1;
    position: relative;
    z-index: 1;
}
.title-area h1 {
    color:#111;
    font-size:48px;
    line-height:1.2;
    font-weight:800;
    margin:0 0 40px;
    transition: all 0.5s ease;
    position: relative;
    z-index: 1;
}
.title-area .breadcrumb {
    display: flex;
    list-style-type: none;
    padding:0;
    gap:20px;
    position: relative;
    z-index: 1;
}
.title-area .breadcrumb li {
    position: relative;
    transition: all 0.5s ease;
}
.title-area .breadcrumb li a {
    color: #333333;
    transition: all 0.5s ease;
}
.title-area .breadcrumb .home {
    height:38px;
    display: flex;
    align-items: center;
}
.title-area .breadcrumb .home img {
    width:18px;
    height:18px;
    display: block;
    margin-bottom:4px;
}

.title-area .breadcrumb .link-item {
    font-size:14px;
    color:#111;
    height:38px;
    display: flex;
    align-items: center;
    padding-right:30px;
    padding-left:10px;
}



.title-area .breadcrumb .link-item span {
    position: absolute;
    right:0;
    margin-bottom:3px;
    width:20px;
    height:20px;
}
.title-area .breadcrumb .link-item img {
    width:100%;
}

.title-area .breadcrumb .sub-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color:#fff;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255,255,255,0.1);
    padding:15px 30px;
    border-radius: 20px;
    align-items: center;
    left:50%;
    transform: translateX(-50%) translateY(-20px) scaleY(1);
    opacity: 0;
    transition-duration: .3s;
    transform-origin: top;
    a {
        height:34px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        font-size:14px;
        color:#555;
        text-align: center;
        transition-duration: .3s;
    }
    a:hover {
        color:#8a1e04;
        transition-duration: .2s;
    }
    a.active {
        font-weight:600;
        color:#8a1e04;
    }
}

.title-area .breadcrumb li:hover .sub-item {
    transform: translateX(-50%) translateY(0) scaleY(1);
    opacity: 1;
    transition-duration: .3s;
}

.sub-head-img {
    height:460px;
    background:#000;
    position: absolute;
    width: 100%;
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
    bottom: 40px;
    transition: all 0.6s ease;
    left: 0;
    right: 0;
    img {
        width:100%;
        height:100%;
        object-fit: cover;
    }
}


/* CEO 인사말 */
.message-layout {
    padding:80px 0;
    display: flex;
    flex-direction: column;
    gap:80px;
    .message-principal {
        display: flex;
        align-items: center;
        flex-direction: column;
        p {
            font-size:24px;
            font-weight:700;
            line-height:1.6;
            color:#111;
            text-align: center;
            position: relative;
            display: inline-block;
            margin:0 auto;
            z-index: 1;
        }
        p:first-child:before {
            content:'';
            position: absolute;
            left:-15px;
            top:-10px;
            width:30px;
            height:22px;
            background-image: url("/img/bl-message-l.png");
            background-size:100%;
            z-index: -1;
        }
        p:last-child:after {
            content:'';
            position: absolute;
            right:-15px;
            top:-5px;
            width:30px;
            height:22px;
            background-image: url("/img/bl-message-r.png");
            background-size:100%;
            z-index: -1;
        }
    }
    .img-block {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width:80%;
            max-width:800px;
        }
    }
    .txt-block {
        display: flex;
        flex-direction: column;
        gap:40px;
        p {
            margin:0;
            font-size:18px;
            font-weight:300;
            color:#333;
            line-height:1.6;
        }
    }
    .row {
        display: flex;
        gap:60px;
        flex-direction: row-reverse;
        align-items: center;
        > * {
            flex:1;
        }
    }
    .column {
        display: flex;
        flex-direction: column;
        gap:60px;
        .txt-block {
            display: flex;
            flex-direction: row;
            p {
                flex:1;
                text-align: justify;
            }
        }
    }
    .row:nth-child(2n) {
        flex-direction: row;
    }
    .writer {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        gap:20px;
        span {
            font-weight:700;
            color:#111;
            font-size:16px;
        }
        p {
            font-size:28px;
            color:#111;
            font-weight:400;
        }
    }
}
.history-layout {
    padding-top:80px;
    .history-block {
        border-top:1px #e2e4e7 solid;
        padding:60px 0;
        .container {
            display: flex;
            align-items: flex-start;
            height:auto;
            position: relative;
            .sticky-unit {
                position: sticky;
                top:100px;
                flex:1;
                h2 {
                    font-size:40px;
                    margin:30px 0 10px;
                }
                p {
                    margin:0;
                    font-size:18px;
                    color:#aaa;
                    font-family: 'Montserrat', sans-serif;
                }
            }
            .event-list {
                flex:1;
                list-style-type: none;
                padding:0;
                display: flex;
                flex-direction: column;
                li {
                    display: flex;
                    align-items: flex-start;
                    padding:30px 0;
                    .year {
                        line-height:1.5;
                        font-size:16px;
                        font-weight:700;
                        font-family: 'Montserrat',sans-serif;
                        width:80px;
                    }
                    .event {
                        display: flex;
                        flex-direction: column;
                        row-gap: 20px;
                        p {
                            margin:0;
                            font-size:16px;
                            color:#111;
                        }
                    }
                }
                li+li {
                    border-top:1px #e2e4e7 solid;
                }
            }
        }
    }
}
.map-area {
    background: #f0f0f0;
    height:480px;
    margin-top:40px;
}
.contact-info {
    margin-top:60px;
    padding-bottom:120px;
    display: flex;
    gap:60px;
    .unit {
        flex:1;
        .icon {
            margin-bottom:20px;
            width:30px;
            height:30px;
            img {
                width:100%;
                height:100%;
            }
        }
        label {
            font-size:16px;
            font-family: 'Montserrat','Pretendard',sans-serif;
            font-weight:700;
            color:#111;
        }
        p {
            margin:5px 0;
            font-weight:400;
            font-family: 'Montserrat','Pretendard',sans-serif;
            font-size:20px;
            b {
                font-weight:700;
            }
        }
        span {
            font-size:14px;
            font-family: 'Montserrat','Pretendard',sans-serif;
            color:#999;
        }
    }
}

.post-layout {
    list-style-type: none;
    padding: 40px 0;
    margin:0 -20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    li {
        box-sizing: border-box;
        flex:1;
        min-width:33.3%;
        max-width:33.3%;
        padding:20px;
        display: flex;
        flex-direction: column;
        .thumb {
            border-radius: 20px;
            background: #f5f5f5;
            overflow: hidden;
            margin-bottom:10px;
            img {
                width: 100%;
                height:100%;
                object-fit: cover;
            }
        }
        p {
            font-size:20px;
            font-weight:600;
            color:#111;
            line-height:1.5;
            margin:5px 0;
            word-break: keep-all;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            text-overflow:ellipsis;
            overflow: hidden;
        }
        span {
            font-family: 'Montserrat',sans-serif;
            font-size:14px;
            color:#999;
        }

    }
}

.table-layout {
    padding:60px 0;
    .table-item {
        .table-header {
            display: flex;
            align-items: baseline;
            margin-bottom:20px;
            h4 {
                font-size:24px;
                font-weight:700;
                flex:1;
                margin:0;
            }
            span {
                font-size:16px;
                color:#999;
            }
        }
        table {
            width:100%;
            border-top:1px #e2e4e7 solid;
            border-bottom:1px #111 solid;
            th, td {
                height:60px;
                text-align: center;
                font-size:16px;
            }
            th {
                border-bottom:1px #111 solid;
            }
            td {
                border-bottom:1px #e2e4e7 solid;
            }
            tr:last-child td {
                border-width:0;
            }
        }
    }
}

.notice-layout {
    margin:0 0 160px;
    ul {
        list-style-type: none;
        padding:0;
        display: flex;
        flex-direction: column;
        li {
            flex:1;
            border-bottom:1px #e2e4e7 solid;
            .item {
                box-sizing: border-box;
                padding:30px 0;
                display: flex;
                flex-direction: column;
                p {
                    font-size:22px;
                    font-weight:700;
                    color:#111;
                    line-height:1.5;
                    margin:5px 0;
                    word-break: keep-all;
                    white-space: nowrap;
                    text-overflow:ellipsis;
                    overflow: hidden;
                }
                span {
                    font-family: 'Montserrat',sans-serif;
                    font-size:16px;
                    color:#999;
                }
            }

        }
    }
    button {
        margin:0 auto;
        width:60px;
        height:60px;
        background:#111;
        padding:0;
        border-radius: 50%;
        border:0;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width:40%;
            height:40%;
            object-fit: contain;
        }
    }
    &.download {
        ul {
            li {
                .item {
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    .icon-wrap {
                        width:28px;
                        height:28px;
                        margin:0 20px;
                        opacity: 0.4;
                        transition-duration: .3s;
                        img {
                            width:100%;
                            height:100%;
                            object-fit: contain;
                        }
                    }
                    &:hover {
                        .icon-wrap {
                            opacity: 0.8;
                            transition-duration: .3s;
                        }
                    }
                }
            }
        }
    }
}

.product-layout {
    padding: 40px 0;
    ul {
        list-style-type: none;
        margin:0 -20px;
        padding:0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    li {
        box-sizing: border-box;
        flex:1;
        min-width:25%;
        max-width:25%;
        padding:20px;
        display: flex;
        flex-direction: column;
        .thumb {
            border-radius: 20px;
            background: #f5f5f5;
            overflow: hidden;
            aspect-ratio: 4 / 3;
            margin-bottom:20px;
            img {
                width: 100%;
                height:100%;
                object-fit: cover;
            }
        }
        h4 {
            font-size:24px;
            font-weight:700;
            color:#111;
            line-height:1.5;
            margin:5px 0;
            word-break: keep-all;
            text-overflow:ellipsis;
            overflow: hidden;
            display: flex;
            align-items: baseline;
            span {
                font-family: 'Montserrat',sans-serif;
                font-size:14px;
                color:#999;
                font-weight:400;
                margin-left:8px;
            }
        }
        p {
            font-size:16px;
            font-weight:400;
            color:#555;
            line-height:1.6;
            margin:0;
            word-break: keep-all;
        }
    }
}

.product-details {
    margin-top:40px;
    margin-bottom:160px;
    .product-details-title {
        border-bottom:1px #e2e4e7 solid;
        padding-bottom:40px;
        margin-bottom:40px;
        h2 {
            font-size:38px;
            font-weight:700;
            margin:0;
            display: flex;
            align-items: baseline;
            span {
                font-size:16px;
                padding-left:10px;
                color:#999;
                font-family: 'Montserrat',sans-serif;
                font-weight: 400;
            }
        }
        p {
            font-size:18px;
            margin:10px 0 0;
            line-height:1.8;
            color:#333;
        }
    }
    .rows {
        display: flex;
        flex-direction: column;
        gap:40px;
        .row {
            display: flex;
            align-items: flex-start;
            h4 {
                width:280px;
                margin:0;
                font-size:18px;
                font-weight:800;
            }
            .contents {
                flex:1;
                display: flex;
                flex-direction: column;
                gap:30px;
                align-items: stretch;
                h5 {
                    font-size:18px;
                    font-weight:700;
                    margin:0 0 15px;
                }
                p {
                    font-size:18px;
                    color:#666;
                    font-weight:400;
                    margin:0;
                    line-height:1.8;
                }
                table {
                    width:100%;
                    border-top:1px #111 solid;
                    border-bottom:1px #111 solid;
                    th, td {
                        text-align: left;
                        padding:0;
                        height:54px;
                        font-size:14px;
                    }
                    th {
                        border-bottom:1px #111 solid;
                    }
                    td {
                        color:#666;
                        border-bottom:1px #e2e4e7 solid;
                    }
                    tr:last-child td {
                        border-bottom:0;
                    }
                    .lb {
                        padding-left:30px;
                        border-left:1px #e2e4e7 solid;
                    }
                }
            }
        }
    }
}

.page-tab-area {
    margin-top:40px;
    padding-bottom:30px;
    border-bottom:1px #e2e4e7 solid;
    .container {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
    }
    .item {
        height:50px;
        font-size:16px;
        padding:0 30px;
        color:#999;
        background: #f5f5f5;
        border:1px #e2e4e7 solid;
        border-radius: 25px;
        display: flex;
        align-items: center;
        font-family: 'Montserrat',sans-serif;
        &.active {
            font-weight:700;
            color:#111;
            background: #8a1e04;
            border-color: #e6bd46;
        }
    }
}

.depth-layout {
    margin:40px 0 160px;
    ul {
        display: flex;
        padding:0;
        margin-left:-20px;
        margin-right:-20px;
        list-style-type: none;
        flex-wrap: wrap;
        li {
            flex:1;
            min-width:50%;
            max-width:50%;
            .item {
                border-radius: 20px;
                margin:20px;
                padding:40px;
                box-shadow: 0 0 20px rgba(0,0,0,0.05);
                background: #fff;
                h4 {
                    font-size:30px;
                    margin:0 0 5px;
                }
                span {
                    font-size:16px;
                    color:#999;
                }
                .info-group {
                    margin-top:20px;
                    display: flex;
                    column-gap: 30px;
                    .unit {
                        display: flex;
                        align-items: baseline;
                        label {
                            margin-right:10px;
                            color:#999;
                            font-size:14px;
                            font-weight:400;
                            font-family: 'Montserrat', sans-serif;
                        }
                        p {
                            margin:0;
                            font-size:16px;
                            font-weight:700;
                            font-family: 'Montserrat', sans-serif;
                        }
                    }
                }
            }
        }
    }
}
